@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brandMint: #E9F5F1; /* 메인 그린 색상(figma버전) */
  --color-brandGreenBannerText: #409F83;  /* 메인 배너 텍스트 색상 */
  --color-brandMainGreenBanner: #D7EBDD;  /* 메인배너이미지 배경 색상 */
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
